@charset "utf-8";
:root {
    --primary-bg-color: rgb(254, 168, 0);
    --secondary-bg-color: rgb(255, 237, 202);
    --primary-text-color: rgb(255, 94, 29);
    --secondary-text-color: rgb(255, 254, 246)
}
body {
    background-color: var(--primary-bg-color)
}

h1 {
    color: var(--primary-text-color);
    font-size: 16px;
    text-transform: capitalize
}
h2 {
    color: var(--secondary-text-color)
}

.list {
    background-color: var(--secondary-bg-color);
    width: 55%;
    margin: 0 auto;
    padding: 20px 30px
}
.row {
    display: flex;
    align-items: center
}
/* 후손 선택자(Descendant Selector) | 하위 선택자 */
.row p {
    flex: 1;
    text-indent: 10px;
    padding: 10px 0;    
}
.text-center {
    text-align: center
}
.desc-bg {
    background-color: var(--primary-bg-color)
}
.desc-text {
    color: var(--secondary-text-color)
}
.corner-rounded {
    border-radius: 20px
}
.chk {
    width: 30px;
    height: 30px;
}